.message{
    .message_text{
        padding: 10px;
        text-align: center;
        font-size: 1em;
        font-family: $articulos;
        background: red;
        color: white;
        font-weight: 300;
    }
}