// tipografias
$articulos: 'Inconsolata', monospace;
$ultimo-minuto: 'Sriracha', cursive;

// weight tipografico


// color
$color-background: #f5f5f5;
$color-aside: #f7f7f7;
$color-tag: #035aa6;
$color-botton: #ff9234;