body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

img {
  width: 100%;
}

nav .menu .menu__logo h1 {
  font-size: 1.5em;
  padding: 2rem 0px;
  margin: 0px;
}

.nosotros {
  font-size: 1.25em;
}

.contacto {
  font-size: 1em;
}

.newsletter {
  font-size: 15px;
  text-align: center;
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
  .contacto {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1920px) {
  .contacto {
    font-size: 1.25em;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#noticias-derecha {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1920px) {
  #noticias-derecha {
    display: block;
  }
}
#portada {
  padding: 0em 3rem;
}

#menu-principal {
  padding: 0rem 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1920px) {
  #menu-principal {
    padding: 0rem 3.5rem;
  }
}
.newsletter {
  background: #f5f5f5;
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
}
.newsletter .newsletter__input {
  border: 0rem;
  height: 1.5625rem;
}

#noticias-derecha {
  padding: 0 1.5625rem 5.625rem 1.5625rem;
  background: #f7f7f7;
  border-radius: 0.3125rem;
  box-shadow: 1px 1px 12px gainsboro;
}

.newsletter__botton {
  border: 0rem;
  background-color: #ff9234;
  height: 1.5625rem;
  color: white;
}

nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
nav .menu .menu__nav ul, nav .menu .menu__nav li {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
nav .menu .menu__nav ul a, nav .menu .menu__nav li a {
  text-decoration: none;
}

.nosotros {
  display: none;
}

.contacto {
  padding-top: 0.3rem;
  padding-right: 0.5rem;
}

.menu__input {
  height: 1.2rem;
  border-radius: 3.75rem;
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
  .menu__input {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1920px) {
  .nosotros {
    display: block;
    padding-right: 0.9375rem;
  }

  .nosotros {
    padding-top: 0.3rem;
  }
}
.lista .lista__tags ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0rem;
}
.lista .lista__tags ul li {
  padding: 0.625rem;
  list-style: none;
  background-color: #035aa6;
  color: white;
  margin-right: 0.1rem;
  font-size: 12px;
}

.message .message_text {
  padding: 10px;
  text-align: center;
  font-size: 1em;
  font-family: "Inconsolata", monospace;
  background: red;
  color: white;
  font-weight: 300;
}

/*# sourceMappingURL=origen.css.map */
