.newsletter{
    background: $color-background;
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    .newsletter__input{
        border: 0rem;
        height: 1.5625rem;
    }
    
}
